/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

composer.phar
### NetBeans ###
/nbproject/private/
/nbproject/*
/nbproject/project.properties
/nbproject/project.xml
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
.nb-gradle/